Package: {{ name }}
Version: {{ version }}
Architecture: {{ architecture }}
Priority: {{ priority }}
Section: {{ section }}
{{#description}}Description: {{{ description }}}{{/description}}
{{#maintainer}}Maintainer: {{{ maintainer }}}{{/maintainer}}
{{#homepage}}Homepage: {{{ homepage }}}{{/homepage}}
{{#depends}}Depends: {{{ depends }}}{{/depends}}
